/.gradle/
/.idea/

# Stores additional meta information for Voodoo.
/.meta/
# Voodoo build output folder.
/build/
# Voodoo logs.
/logs/
# Voodoo timing output.
/reports/

# Folder which stores untracked files such as unreleased mods.
/local/
# We output the generated Kotlin scripts for Forge and Mod
# classes into src/ so the VSCode plugin actually picks them up.
/src/
